.container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 40% 40$ 1fr;
    grid-template-areas:
        "header header"
        "main sidebar"
        "footer footer";
}

.header {
    display: grid;
    grid-area: header;
    background-color: antiquewhite;
}

.main {
    display: grid;
    grid-area: main;
    background-color: burlywood;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.main-h2 {
    display: grid;
    grid-area: 1/1/2/3;
}

.more-1,
.more-2,
.more-3 {
    background-color: whitesmoke;
    margin: 5px;

}


.more-3 {
    display: grid;
    grid-area: 3/1/4/3;
}


.sidebar {
    display: grid;
    grid-area: sidebar;
    background-color: lightpink;
}

.footer {
    display: grid;
    grid-area: footer;
    background-color: rosybrown;
    grid-template-columns: repeat(4, 1fr);
}

.footer-div {
    display: grid;
    background-color: thistle;
}