.header-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    background-color: cornflowerblue;
}



.main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: lightblue;

}

.main-container-h2 {
    display: grid;
    grid-column: 1 / span 2;
    justify-items: center;
    align-items: center;
}


.more-1,
.more-2,
.more-3 {
    display: grid;
    margin: 10px;
    background-color: peachpuff;
    justify-items: center;
    align-items: center;
}

.more-3 {
    display: flex;
    grid-row: 3;
    grid-column: 1 / span 2;
    justify-self: stretch;
    justify-content: center;
    align-items: center;
}



.aside-container {
    display: grid;
    grid-column: 3;
    grid-row: 1 / span 3;
    justify-items: center;
    align-items: center;
    background-color: lightgray;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 10vh;
    background-color: lightsteelblue;
}

.footer-div {
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 10px;
    background-color: seashell;
}